@use "govuk/helpers/index" as helpers;

.app-details {
  .govuk-details__summary {
    padding-left: 30px;
    &:after {
      box-sizing: border-box;
      display: inline-block;
      position: absolute;
      width: 1.25rem;
      height: 1.25rem;
      border: .0625rem solid;
      border-radius: 50%;
      vertical-align: middle;
      content: "";
      left: 0;
      top: 1px;
      @include helpers.govuk-media-query(tablet) {
        top: 4px;
      }
    }
    &:before {
      content: "";
      box-sizing: border-box;
      display: block;
      position: absolute;
      bottom: -1px;
      left: 7px;
      width: .375rem;
      height: .375rem;
      transform: rotate(135deg);
      border: 0 solid transparent;
      border-top: .125rem solid;
      border-right: .125rem solid;
      clip-path: none;
    }
  }
  &[open] .govuk-details__summary:before {
    border: 0 solid transparent;
    border-top: .125rem solid;
    border-right: .125rem solid;
    width: 0.375rem;
    height: 0.375rem;
    transform: rotate(-45deg);
    clip-path: none;
    bottom: -5px;
  }
}

.app-details__show-text {
  display: inline;
}
.app-details__hide-text {
  display: none;
}

.app-details[open] {
  .app-details__show-text {
    display: none;
  }
  .app-details__hide-text {
    display: inline;
  }
}

.app-details--mobile-only {
  .govuk-details__summary {
    @include helpers.govuk-media-query(tablet) {
      display: none;
    }
  }
}