@use "govuk/helpers/index" as helpers;

.app-summary-list {
  margin-bottom: 0;
}

.app-summary-list__row {
  border-top: 1px solid #D2E2F1;
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
  @include helpers.govuk-media-query(900px) {
    gap: 0;
    flex-direction: row;
  }
}

.app-summary-list__key {
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  align-self: flex-start;
}

.app-summary-list__value {
  margin: 0;
}