@use "govuk/settings/index" as settings;
@use "govuk/helpers/index" as helpers;

.app-tabs__list {
  padding: 0;
  list-style: none;
  margin: 0 0 20px;
}

.app-tabs__list-item {
  margin-left: 25px;
}

.app-tabs__list-item:before {
  content: "—";
  margin-left: -25px;
  padding-right: 5px;
  color: var(--govuk-text-colour, #0b0c0c);
}

.app-tabs__tab {
  @include helpers.govuk-font-size(19);
  text-decoration: underline;
  text-decoration-thickness: max(1px, .0625rem);
  text-underline-offset: .1578em;
  display: inline-block;
  margin-bottom: 10px;
  &:visited {
    color: var(--govuk-text-colour, #0b0c0c);
  }
}

.js-enabled {
  .app-tabs__list {
    list-style: none;
    padding: 0;
    margin: 0 0 2rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
  }
  
  .app-tabs__list-item {
    border-bottom: 4px solid transparent;
    transition: border-bottom-color 0.3s ease;
    &--selected {
      border-bottom-color: settings.$govuk-brand-colour;
    }
  }


  .app-tabs__tab {
    padding: .5rem 0;
    cursor: pointer;
    text-decoration: none;
    display: block;
    &:visited {
      color: settings.$govuk-brand-colour;
    }
    &:focus {
      color: #000;
    }
  }

}